*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #E6ACCF;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:1.5vmin;
}
.box{
    height:18vmin;
    width:18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,2);
    font-size: 8vmin;
    color: #b0413b;
    background-color: #ffffc7;
}
#res-btn{
    padding: 1rem;
    font-size: 1.25rem;
    border-radius: 1rem;
    background-color:rgb(241, 234, 234);
    border: none;
}
#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    border-radius: 1rem;
    background-color:rgb(241, 234, 234);
    border: none;
}
#msg{
    height: 5vmin;
}
.msg-container{
    height: 20vmin;
}
.hide{
    display: none;
}

/* Mobile Styles */  
@media (max-width: 300px) {  
    .container {  
        height: 35vh; /* Allow it to adjust with content */  
        display: flex;
        justify-content: center;
        align-items: center; /* Add some padding for smaller screens */  
    }  

    .game {  
        height: 30vmin;
    width: 30vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:0.5vmin;
        
    }  

    .box { 
    height:18vmin;
    width:18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,2);
    font-size: 8vmin;
    color: #b0413b;
    background-color: #ffffc7; 
     /* Smaller font size for readability */  
    }  

    #res-btn{
        margin-top: 10px; 
        padding: 0.5rem;
        font-size: 0.1rem;
        border-radius: 0.1rem;
        background-color:rgb(241, 234, 234);
        border: none;
    }
    #new-btn {  
        margin-top: 30px; 
        margin-bottom: 60px;
        padding: 0.5rem;
        font-size: 0.1rem;
        border-radius: 0.1rem;
        background-color:rgb(241, 234, 234);
        border: none;
    }  

    #msg {  
        font-size: 2.5vmin; /* Smaller message size */  
    }  

    .msg-container {  
        height: 15vmin; /* Adjust the message container height for mobile */  
    }  
}  